<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnP3aB0uceBb6WqymrVzqO0RWLI0N8emA</string>
	<key>GCM_SENDER_ID</key>
	<string>84427260192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KevinAtapattu.PowerLift</string>
	<key>PROJECT_ID</key>
	<string>ilift-9bc95</string>
	<key>STORAGE_BUCKET</key>
	<string>ilift-9bc95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84427260192:ios:0e06081195cbdab20e9745</string>
</dict>
</plist>